
#heading span {
  font-weight: bold;
  font-size: xx-large;
  
}

#file_path {
  border-radius: 5px;
}

ul.message {
  list-style-type: none;
}

li.segment {
  margin : 2px;
  padding : 5px;
  border-bottom: 1px solid #efefef;
  font-size: x-small;
  transition: transform 1s;
}

li.segment:hover {
  box-shadow: 0px 0px 5px #888888;
  transform : translate(1px,1px);
  border : 1px solid black ;
  border-radius: 5px;
  
}

.z_segment_style {
  font-style: italic;
}

.selected {
  font-weight: bold;
  box-shadow: 0px 0px 5px #888888;
}

.caretCell {
  background-color: none;

}

.componentCell {
  margin : 2px;
  padding : 2px;
  border : 1px solid black ;
  border-radius: 5px;
  font-size: x-small;
}

.hide {
  display: none;
}

#msg_segment {
  overflow : scroll;
}

#msg_segment_menu {
  margin : 1px;
  padding : 10px;
  background-color : #7f7a7a;
}

#msg_segment_menu li {
  display : inline;
  font-size : small;
  margin : 5px;
  padding : 2px;
  border : 1px solid black ;
  border-radius: 5px;
  background-color : #FFF;
}

.msg_segment_menu_item_selected {
  font-weight: bold;
  box-shadow: 0px 0px 5px #FFF;
  font-size: x-large;
}

#componentId {
  font-weight: bold;
  font-size: x-large;
}

#componentName {
  font-style: italic;
  font-size: medium;
  border-bottom: 1px solid #555;
}

#componentHover {
  font-size : xx-small;
  margin : 5px;
  padding : 2px;
  border : 1px solid black ;
  border-radius: 5px;
  background-color : #eee;
  opacity : 0.95;
}

#segmentEdit_components input {
  margin : 1px;
  border-radius: 5px;
}

#segmentEdit_components input:focus {
  margin : 1px;
  border-radius: 5px;
  background-color : #DDD;
  box-shadow: 0px 0px 5px #FFF;
}

#save_message {
  display : none;
}

.info {
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  margin : 2px;
  padding : 10px;
  box-shadow: 0px 0px 5px #888888;
  background-color: white;
  opacity: 0.9;
  float : right;
  width : 50%;
}

.info_desc {
  border: 1px solid white;
  border-radius: 5px;
  margin : 2px;
  padding : 2px;

  background-color: #e6f2ff;
}

#segmentEdit_components input {
  display : inline;
}

#segmentEdit_fieldName {
  font-size : x-large;
  font-weight: bold;
  
}

.save_required {
  background-color: #f9ecec;
  border-radius: 0px 0px 5px 5px;
  padding: 2px;
}




